.topbag{
    background-color: rgb(24, 101, 11);
    color: azure;
    font-family: 'Alfa Slab One', cursive;
    margin-top: 30px;
}

.photo{
    text-align: center;
    background-color: aliceblue;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-bottom: 30px;
};

